*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    scroll-behavior: smooth;
}

q {
    font-family: 'playfair display';
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: normal;
    line-height: 60px;
    text-transform: none;
    color: #242526;
}
.container {
    max-width: 100%;
    background-color: #413f3f;
}
.header-content {
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 0 3rem;
}
.header-content-logo {
    width: 27rem;
    height: 3rem;
    margin-right: 1rem;
}
.header-content-logo img {
    width: 100%;
    height: 100%;
}
.header-content-nav {
    width: 10rem;
    height: 2rem;
    white-space: nowrap;
}
.header-content-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header-content-nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.header-content-nav ul li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}
.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: visible;
    width: 114rem;
    height: 62rem;
    left: 3rem;
    background-color: white;
}
.page-content-header {
    margin: 0 auto;
    text-align: center;
}
.page-content-header h1 {
    width: 68.5rem;
    height: 11.6rem;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 10rem;
    color: cornflowerblue;
}
.page-content-search {
    margin: 3rem auto 0;
    text-align: center;
}
.page-content-search input[type="search"] {
    width: 76.8rem;
    height: 7.5rem;
    border: 1px solid dimgray;
    border-radius: 5rem;
    padding-left: 3rem;
    box-sizing: border-box;
    color: red;
    font-size: 2rem;
}
.page-content-search input::placeholder {
    color: #999;
    font-style: italic;
    font-size: 1.4rem;
    font-weight: normal;
}
.page-content-quote {
    display: flex;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: visible;
    width: 100%;
    padding: 25px 25px;
}
.page-content-quote q {
    font-family: 'playfair display';
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: normal;
    line-height: 60px;
    text-transform: none;
    color: #242526;

}
.page-content-wrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: visible;
    width: 114rem;
}
.page-content-summoner {
    background-color: white;
    position: relative;
    overflow: visible;
}
.summoner-header {
    margin-left: 35px;
    display: flex;
    align-items: center;
    height: 142px;
    grid-column: 1 / -1;
}
.summoner-header-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95px;
    height: 95px;
    margin-right: 20px;
}
.summoner-header-image img {
    max-width: 100%;
    height: auto;
    border: 4px solid;
}
.summoner-header-image span {
    text-align: center;
    border-style: outset;
    border-color: gold;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Chakra Petch";

}
.summoner-header-info {
    display: flex;
    flex-direction: column;
}
.summoner-header-name {
    font-size: 36px;
    font-weight: bold;
    font-family: "Chakra Petch";

}
.summoner-header-update button {
    background-color: deepskyblue;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.summoner-header-update button:hover {
    background-color: #055a79;
}
.summoner-ranked-wrapper {
    background-color: #413f3f;
    margin-top: 32px;
    margin-left: 35px;
    margin-right: 45px;
    font-family: "Chakra Petch";
    text-space: 10px;
}
.summoner-ranked-container {
    display: grid;
    grid-template-columns: 312px 2fr;
    grid-template-rows: repeat(auto-fit, minmax(0, min-content));
    grid-column-gap: 10px;
    grid-gap: 12px;
}
/*start test section ranked card 1*/
.summoner-ranked-solo {
    display: flex;
    flex-direction: column;
    padding: 18px;
    border-radius: 3px;
}
.ranked-queue-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ranked-content-header {
    display: flex;
    justify-content: space-between;
}
.title {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: coral;
}
.blue-divider {
    height: 18px;
    width: 4px;
    background: cornflowerblue;
    border-radius: 2px;
}
.queue-type {
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}
.summoner-ranked-sub-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: cornsilk;
    margin-top: 16px;
}
.summoner-rank-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.summoner-rank-image {
    flex: 0 0 32px;
    width: 54px;
    margin-right: 12px;
    margin-left: 2px;
}
.text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.ranked-text {
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
}
.ranked-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2px;
    color: #fff;
}
.ranked-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-items: center;
    font-size: 12px;
}
.total-games {
    margin-left: 6px;
}
/*end test section ranked card 1*/

.summoner-ranked-flex {
    display: flex;
    flex-direction: column;
    padding: 18px;
    border-radius: 3px;
}
.summoner-ranked-history-stats {
}
.summoner-champion-mini-stats {
}


.display-sidebar {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 370px;
    height: 100%;
    box-sizing: border-box;
    padding-top: 187px;
}
.display-option  {
    width: 100%;
    height: 54px;
    line-height: 54px;
    font-size: 18px;
    color: #fff;
    text-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    padding-left: 56px;
    cursor: pointer;
    background: 16px center no-repeat;
    background-image: url("#");
    background-size: 40px;
    user-select: none;
    list-style: none;
}
ul.display-sidebar li.display-option:before {
    content: "\25C6";
    /* Unicode voor black diamond blijkbaar */
    font-size: 20px;
    margin-right: 10px;
}
ul.display-sidebar li.display-option:hover {
    color: #000;
}
.display-option a {
    display: inline-block;
    width: 75%;
    height: 100%;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.page-content-champions {
    position: relative;
    overflow: visible;
    border: 1px solid greenyellow;
    background-color: rgba(221, 234, 193, 0.82);
}
.champion-content {
    margin-left: 370px;
}
.champion-background {
    background: url(assets/spirit-blossom-aphelios-skin-lol-splash-art-hd-wallpaper-uhdpaper.com-655@1@i.jpg) no-repeat;
    user-select: none;
    background-size: cover;
    min-height: 850px;
    position: relative;
    /*chatgpt 6 verschillende solutions ongv 15 min tijd geskost vol onzin. Google gebruikt ongv 30 sec tijd gekost: *https://stackoverflow.com/questions/9483364/css3-background-image-transition*!*/
    -webkit-transition: background-image 0.4s ease-in-out;
    transition: background-image 0.4s ease-in-out;

}

.champion-background-loading {
    background-color: rgba(221, 234, 193, 0.82);
    background-size: cover;
    min-height: 850px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.champion-background-loading img {
    max-width: 100%;
    max-height: 100%;
    padding-left: 44em;
    padding-top: 20em;
}
/*champion-click-image*/
.champion-content-wrapper {
    max-width: 800px;
    position: relative;
}
.content-wrap {
    margin-top: 10px;
    position: absolute;
    left: 0;
    right: 0;
    padding: 40px;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: rgba(204, 204, 204, 0.2);
    top: -50rem;
}
.title-wrap {
    text-align: center;
}
.title {
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.subtitle {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #888;
}
.image-wrap {
    text-align: center;
    margin: 20px 0;
}
.info-wrap {
    margin-bottom: 20px;
}
.info-title {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.info-list {
    color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
}
.info-item {
    margin-bottom: 10px;
}
.info-item img {
    width: 10%;
}
.info-label {
    font-weight: bold;
    margin-right: 10px;
}
.info-value {
    color: #888;
}
.desc-wrap {
    margin-bottom: 20px;
}
.desc-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: 0 0 10px 0;
}
.desc-text {
    display: flex;
    width: 100%;
    min-height: 26px;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px 0 10px 15px;
    box-sizing: border-box;
    background: rgba(1, 1, 1, 0.5);
    font-size: 16px;
    color: #fff;
    margin-top: 17px;
    line-height: 26px;
}
.champion-slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9;
    left: 0;
    bottom: 0;
    padding-top: 22px;
    width: 90.8rem;
    height: 190px;
    background: rgba(204, 204, 204, 0.2);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.champion-slider {
    margin: 0;
    width: 830px;
    height: 100%;
}
.champion-slider-style {
    width: 100%;
    height: 170px;
    align-items: center;
    bottom: 10px;
    left: 0;
}
/*kan beter gebarentaal leren inplaats van css i cri*/
.single-champion-slider {
    text-decoration: none;
    height: 150px;
    cursor: pointer;
    background: transparent url(assets/border.png) no-repeat 0 0;
}
.single-champion-slider img {
    display: block;
    margin: 2px auto 0;
    width: 106px;
    height: 106px;
    padding: 6px;
}
.single-champion-slider p {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    text-align: center;
}
.champion-slider-style li {
    display: inline-block;
}

.champion-loading-indicator {
    display: none;
}