* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
}

header {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

header section {
    width: 100%;
    height: 7em;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}

img[target=logo] {
    width: 100px;
    cursor: pointer;
    margin: 30px 0;
    border-radius: 50%;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #BBc2ff;
    border-radius: 5px;
    font-size: 20px;
}

header section input {
    display: grid;
}

main {
    display: grid;
    place-content: center;
}

main section {
    border-radius: 0.7em;
    position: relative;
    width: 22em;
    height: 30em;
    background-size: 22em 30em;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    background-color: #BBc2ff;
    margin-top: 5em;
    margin-bottom: 20em;
}

section:hover .info {
    bottom: -3em;
    opacity: 1;
}

.title-box {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 2em;
}

hr {
    margin-top: -0.4em;
    margin-bottom: 1em;
    width: 5em;
    height: 0.25em;
    box-sizing: content-box;
    border: none;
    background: #818dff;
}

h3 {
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.4em;
    color: black;
    text-align: center;
}

p {
    width: 170px;
    margin: 0 auto;
    color: #fff;
    font-family: 'Droid Serif', serif;
    font-size: 13px;
    font-style: italic;
    line-height: 18px;
}


.info {
    font-family: 'Droid Serif', serif;
    font-size: 1.2em;
    color: white;
    line-height: 1.1em;
    padding: 0 2em;

    position: relative;
    bottom: -4em;
    opacity: 0;
    background: transparent;
    transition: opacity 0.3s, bottom 0.3s;
    text-align: center;
}


main section:nth-of-type(1) footer{
    position: absolute;
    bottom: 0;
    height: 3em;
    width: 100%;
    display: inline-block;
    font-size: 1.2em;
    padding: 0 2em;

}

h4 {
    font-family: 'Droid Serif', serif;
    font-size: 1.2em;
    color: black;
    line-height: 1.1em;
    padding: 0 2em;

    position: relative;
    bottom: -4em;
    text-align: center;
}

main section:nth-of-type(2) footer{
    position: absolute;
    bottom: 0;
    height: 3em;
    width: 100%;
    display: inline-block;
    padding: 0 2em;
    color: white;
}
