*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --wit: white;
  --donker-blauw: #2e3553;
  --grijs: #eff4f5;
  --groen: #75B6A2;
  --donker-groen: #43685D;
  --lichte-groen: #99C7B9;
  --zwart: #202020;
  --algemene-text: 'Josefin Sans', sans-serif;
  --quote-text: 'Gloock', serif;
  --paragraaf: 'Inter',sans-serif;
  --tags-drop-shadow: drop-shadow(.1em .2em .1em rgba(36, 36, 36, 0.497));

}

/********************/
/* ALGEMENE STYLING */
/********************/


body {
  background-color: var(--groen);
  background: radial-gradient(circle at right top, var(--lichte-groen) 30%, var(--groen) 30%);
  margin: 0 0 0 1em;
  overflow-x: hidden;
  display: grid;
  gap: 1.5em;
  overflow-x: hidden;
}



h1,
h2,
h3 {
  font-family: var(--algemene-text)
}

li {
  list-style: none;
  font-family: var(--algemene-text);
}

img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

q {
  font-family: var(--quote-text);
}

figure {
  background-color: var(--lichte-groen);
  block-size: 20em;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  z-index: -3;
}

/**********/
/* HEADER */
/**********/
header {
  width: 100%;
  display: grid;
  align-items: end;
  position: relative;
  height: 30vh;

}



header section:nth-of-type(1) {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1em;
  top: 0;
}

header section:nth-of-type(1) img {
  width: 3em;
  height: 3em;
  aspect-ratio: 1;
}

header h2 {
  font-size: 4.5em;
  margin-bottom: .3em
}

header section ul {
  display: flex;
  gap: 1em;
}

header section ul li {
  background-color: var(--grijs);
  padding: .5em 1em;
  border-radius: 3em;
  filter: var(--tags-drop-shadow);
}

/*********/
/* MAIN  */
/*********/
main {
  height: 70vh;
  width: 100%;
  /* overflow-x: auto; */

}

main img {
  block-size: 4em;
  aspect-ratio: 1;
}

main #content {
  display: flex;
  gap: 1.2em;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  /* background-color: var(--grijs); */
  width: 100vw;
  /* height: vh; */
  padding-bottom: 1em;
}

main #content article {
  position:relative;
  scroll-snap-align: center;
  background-color: var(--grijs);
  flex-direction: row;
  width: 80vw;
  max-width: 25em;
  height: 70vh;
  aspect-ratio: 1;
  border-radius: 3em;
  padding: 1.5em;
  box-shadow: .01em .4em .3em rgba(0, 0, 0, 0.325);
}

main ul li {
  font-family: var(--algemene-text);
  font-weight: 400;
}

/*****************************/
/* CONTENT BINNEN DE ARTICLE */
/*****************************/
#content article q {
  color: var(--donker-blauw);
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-top: 4em;
  text-align: center;
}

#content section:nth-of-type(1) {
  display: flex;
  flex-direction: column;
}

#content section:nth-of-type(1) p{
    font-family: var(--algemene-text);
      font-weight: bold;
      align-self: flex-end;
      margin-top: 1em;
}


/* De selector selecteert alleem de biografie van de persoon */
 #content section:nth-of-type(2) p{
  font-family: var(--paragraaf);
  font-size: 1em;
  font-weight: 300;
  padding-right: 1.5em;
} 

#content section:nth-of-type(2) {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  bottom: 10%;
}

/* Tags */
#content  li {
  position: absolute;
  bottom: 2%;
  left: 10%;
  color: var(--donker-groen)
}

/*****************/
/* LOADING STATE */
/*****************/
.loading.loading-content {
  width: 80vw;
  height: 60vh;
  aspect-ratio: 1;
  border-radius: 3em;
  padding: 1em;
  background-color: var(--donker-groen);
  display: none;
  justify-content: center;
}


.loading.display {
  display: block;
}



/* .loading.skeleton-header {
  background-color: var(--donker-groen);

}

.loading.skeleton-header:has(section) {
  opacity: 0;
}

.loading.skeleton-content {
  background-color: var(--donker-groen);
  width: 80vw;
  height: 60vh;
  aspect-ratio: 1;
  border-radius: 3em;
  padding: 1em;
} */




/************************/
/* Voor groter schermen */
/************************/
@media (min-width: 50em) {
  body {
    overflow-x: hidden;
    display: grid;



  }

  header {
    place-self: center;
      height: 20vh;
  }




  main #content {
    flex-direction: row;
    /* grid-template-columns: repeat(3, 1fr); */
    /* height: 70vh; */
    scroll-snap-type: y proximity;
    /* overflow-x: auto ; */
    place-self: center;
    width: 70%;


  }



  main #content article {
    width: 100%;
    aspect-ratio: 1;
    scroll-snap-align: center;
  }
}